@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  --primary-color: #d71c24;
  --secondary-green: #038f49;
}

.curved-divider {
    clip-path: ellipse(150% 100% at 50% 100%);
}

.curved-divider-bottom {
    clip-path: ellipse(150% 100% at 50% 0%);
}

.organic-shape {
    border-radius: 60% 40% 70% 30% / 30% 60% 40% 70%;
}

::-webkit-scrollbar {
    display: none;
}

body {
    min-height: max(884px, 100dvh);
}

/* RTL Helpers */
.rtl-flip {
    transform: scaleX(-1);
}

[dir="rtl"] input, 
[dir="rtl"] textarea {
    text-align: right;
}
